footer{
    height: 70px;
    background: #0E046F;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #E3E8FF;
}
